<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Yoink</title>
    </head>
    
    <body>
        <img class="logo" src="" alt="Yoink logo">
        <nav>
            <div>
                <h2>Yoink</h2>
            </div>
            <div class="">
                <input type="search" placeholder="search">
                <button type="submit"><img src="./Images/search.png" alt="magnifying glass"></button>
            </div>
            <div>
                <ul>
                    <li><button><img src="./Images/inbox.png" alt="inbox"></button></li>
                    <li><button><img src="./Images/bell.png" alt="bell"></button></li>
                    <li><button><img src=""></button></li>
                </ul>
            </div>
        </nav>
    </body>

</html>